body{
	background-image: url('imgs/fundo.png'); 
	font: 16px Arial, Helvetica, sans-serif;
	text-align: justify;
	padding-left: 15%;
	
}

#principal{
	width: 900px;

}
#menu{
	background: #c5c5b2;
	padding: 18px;
}
#conteudo{
	background: #e8e8d9;
	padding: 10px;
}
a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}
.centralizar{
	text-align: center;
}
.img-campanha{
	border: 10px solid #c3c3ae;
}
h1{
	color: #828271;
	font-size: 1.5em;
}
